/*
 * Author : Manu Mathew Thomas
 * E-Mail : mthoma52@uic.edu
 * Website: mthoma52.com
 */

@font-face{
  font-family:"roboto-regular";
  src: url("../assets/fonts/roboto/RobotoCondensed-Regular.ttf");
  font-family:"raleway-regular";
  src: url("../assets/fonts/raleway/Raleway-Regular.ttf");
}

html{
  height:100%;
}

body{
  margin:0;
  height:100%;
  background-color:#252830;
  color:#ffffff;
}

h1{
  margin:0;
}

header{
  width:100%;
  text-align:center;
  background-color:#089de3;
  color:#ffffff;
  border-bottom:2px solid #e6e6dc;
}

header h1{
  font-size:60px;
}
header h2{
  font-size:45px;
}

header nav a{
  padding:0px 25px 5px 0px;
  word-wrap:inline;
  display:inline-block;
  text-decoration:none;
  font-size:25px;
  color:#ffffff;
}

header nav a:hover{
  color:#ffa500;
}

header nav a:active{
  color:#ffa9a5;
}

nav a li{
list-style:none;
padding:5px;
}

p#datasource{
  padding:2px;
  text-align:center;
  font-size:20px;
}

svg g text{
font-size:10px;
}

svg text{
font-size:30px;
}

.ui.large.buttons{
  padding-left:20px;
  margin-left:30px;
}

.ui.fluid.dropdown.stateDropdown{
width:25%;
margin-left:2%;
float:left;
}

.ui.fluid.dropdown.eventDropdown{
width:25%;
margin-right:2%;
float:right;
}

.default.dropdown:hover>.text,
.ui.default.dropdown>.text, 
.ui.dropdown:hover>.default.text, 
.ui.dropdown>.default.text{
  color:black;
}

.axis path,.axis line
{
  fill:rgba(0,0,0,0);
  stroke:white;
  shape-rendering:crispEdges;

}

path.domain{
height:10px;
}
.axis text{
font-size:6px;
fill:white;
}

@media screen and (max-width: 800px) {
  .ui.fluid.dropdown.stateDropdown{
    width:100%;
  }

  .ui.fluid.dropdown.eventDropdown{
    width:100%;
  }
}

@media screen and (min-width: 1920px){

#mainHeading{
font-size:100px;
}

#secondaryHeading{
font-size:80px;
padding-bottom:10px;
}

p#datasource{
  padding:2px;
  text-align:center;
  font-size:60px;
}

nav{
padding:7px;
}
nav a li{
  padding:5px;
font-size:80px;
}


  .default.dropdown:hover>.text,
.ui.default.dropdown>.text, 
.ui.dropdown:hover>.default.text, 
.ui.dropdown>.default.text{
  font-size:50px;
  text-align:center;
  color:black;
}


.ui.fluid.dropdown.stateDropdown{
width:20%;
margin-left:2%;
float:left;
}

.ui.selection.dropdown{
font-size:50px;
}

.ui.multiple.dropdown>.label {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      font-size: 40px;
      padding: .35714286em .71428571em;
      margin: .21428571em .28571429rem .21428571em 0;
      box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
}




.selection.dropdown .menu>.item {
      border-top: 1px solid #fafafa;
      padding: .71428571rem 1.14285714rem!important;
      white-space: normal;
      word-wrap: normal;
      font-size:40px;
    }

.ui.selection.dropdown .menu>.message {
      padding: .71428571rem 1.14285714rem;
      font-size: 40px;
        }

.ui.large.buttons{
    margin-left:550px;
}
        
.ui.large.buttons .button{
      font-size:50px;
}

.ui.buttons .or:before{
      font-size:50px;
      margin-top:1px;
}
    
  }
